<div class="row">
    <div class="small-12 text-center columns">
        <div class="panel">
            <a ng-href="{{vm.card.shortUrl}}" target="_"><h1>{{vm.card.name}}</h1></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-8 columns">
        <h4 class="subheader">Description</h3>
        <p>{{vm.card.desc}}</p>

        <!-- checklists -->
        <div ng-if="vm.checkLists.length">
            <h3 class="subheader">Checklists</h3>
            <div ng-repeat="list in vm.checkLists | orderBy:'pos'">
                <h4>{{list.name}}</h4>
                <ul>
                    <li ng-repeat="item in list.checkItems | orderBy:pos">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>

        <!-- comments -->
        <div ng-if="vm.comments.length">
            <h3 class="subheader">Comments</h3>
            <div ng-repeat="comment in vm.comments">
                <blockquote>{{comment.data.text}}<cite>{{comment.memberCreator.username}} ({{comment.date | amCalendar}})</cite></blockquote>
            </div>
        </div>

        <!-- votes -->
        <!-- <div ng-if="vm.votes.length">
            <h4 class="subheader">Votes</h4>
            <ul>
                <li ng-repeat="vote in vm.votes">
                    {{vote.username}}
                </li>
            </ul>
        </div> -->

    </div>
    <div class="small-4 columns">
        <div ng-repeat="button in vm.voteButtons">
            <button ng-click="vm.registerVote(button)"
                class="active">
                {{button.label}}
            </button>
        </div>
    </div>
</div>

<div class="row">

</div>
